*{
	font-family: Nunito,calibri;
}

body{
	background:url(../img/09.jpg) fixed;
}

@font-face {
  font-family: 'brooklyn';
  src: url(../fonts/BROOKLYN.ttf);
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

a{
	color: #000;
	text-decoration: none;
}



li{
	list-style: none;
}

.completo{
	background-color: #000;
	width: 100%;
	padding: 20px 0px; 
	opacity: 0.8;
	filter:  alpha(opacity=80);
}

.completo:after{
	content: """";
}

.completo:before{
	content: """";
}

.row{
	display: flex;
}

.producto{
	display: block;
	margin: 0 auto;
	width: 200px;
}

.grid_6>.menu{
	float: right;

}

.frase{
	color: #CCC;
	font-family: brooklyn;
	font-size: 25px;
	text-align: center;
	width: 250px;
}

.frase:before{
	content: url('../img/09.png');
}

.frase:after{
	content: url('../img/10.png');
}

.footer{
	background-color:yellow;
	padding-top:20px;
}

.justificado{
	text-align: justify;
}

.centrado{
	text-align: center;
}

.colorFondo{
	background-color: #ccc;
}

.sombreado{
	text-shadow: 8px 6px 6px rgba(150, 150, 150, 1);
}

img{
	-webkit-filter: drop-shadow(5px 5px 5px #222); 
	filter: drop-shadow(5px 5px 5px #222);
	width: 20px;
}